.men{
    width: 100%;
    height: 1170px;
    background-image: url(../../Assets/12.webp);
}
.men1{
    width: 100%;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 4px;
}
.men1 p{
    font-family: "Courgette", cursive;
    font-size: 34px;
    line-height: 1.2;
    color: #d61c22;
     z-index: 9999;
}
.men1 h2{
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 8px;
    line-height: 1.2;
    color: #000000;
     z-index: 9999;
}
.men2{
    height: 565px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 30px;
}
.men3{
    display: flex;
    gap: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.men4{
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}
.ki1{
    width: 380px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.ki2{
    width: 380px;
    height: 490px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.men3 img{
    width: 380px;
    height: 490px;
    border-radius: 10px;
}
.men3 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.men4 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.men5 img:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.ki3{
    width: 366px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.ki4{
    width: 366px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.men4 img{
    width: 366px;
    border-radius: 10px;
}
.men5{
    display: flex;
    gap: 30px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.men6{
    width: 370px;
}
.ki5{
    width: 790px;
    height: 231px; 
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.ki6{
    width: 370px; 
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.men7{
    width: 790px;
    height: 231px;
}
.men5 img{
    border-radius: 10px;
}
.men8{
    position: relative;
    right: 55px;
    bottom: 540px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing:4px;
    font-size: 16px;
    font-weight: 700;
}
.men8:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
.men9{
    position: relative;
    left: 235px;
    bottom: 540px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing:4px;
    font-size: 16px;
    font-weight: 700;
}
.men9:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
.men10{
    position: relative;
    left: 500px;
    bottom: 670px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing:4px;
    font-size: 16px;
    font-weight: 700;
}
.men10:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
.men11{
    position: relative;
    left: 380px;
    bottom: 414px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
}
.men11:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
.men12{
    position: relative;
    bottom: 144px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 152px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
    right: 400px;
}
.men12:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
.men13{
    position: relative;
    bottom: 144px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: black;
    width: 147px;
    height: 50px;
    border: none;
    border-radius: 10px;
    z-index: 9999;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 700;
    left: 90px;
}
.men13:hover{
    background-color: #d61c22;
    transition: all 0.5s;
    color: white;
}
@media (max-width: 1200px) {
.men3{
    gap: 1px;
        display: flex;
        height: 640px;
        justify-content: center;
        align-items: flex-end;
}
.men3 img {
    width: 240px;
    height: 370px;
}
.ki1{
    height: 504px;
}
.ki2{
    height: 504px;
}
.ki3{
    width: 255px;
    border-radius: 10px;
    justify-content: flex-start;
    height: 186px;
    align-items: flex-end;
}
.ki4{
    width: 255px;
    border-radius: 10px;
    justify-content: flex-start;
    height: 186px;
    align-items: flex-end;
}
.men4 img {
    width: 366px;
    height: 195px;
}
.men4 {
    gap: 20px;
    width: 400px;
    height: 371px;
    display: flex;
    justify-content: flex-end;
}
.ki5 {
    width: 710px;
    bottom: 60px;
}
.ki6 {
    bottom: 57px;
    right: 17px;
}
.men7 {
    width: 495px;
}
.men6 {
    width: 253px;
    height: 235px;
}
.men2 {
    gap: 15px;
    margin-top: 0px;
}
.men8 {

    left: 10px;
}
.men9 {

    left: 140px;
}
.men10 {

    left: 290px;
    bottom: 645px;
}
.men11 {
    left: 155px;
    bottom: 455px;
}
.men12 {
    bottom: 210px;
    right: 375px;
}
.men13 {
    bottom: 255px;
    left: 250px;
}

.men {
    height: 1125px;
}
}

@media (max-width: 600px) {
    .men3, .men4, .men5 {
        flex-direction: column;
        gap: 25px; 
    }
    .men4{
        flex-direction: column;
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .men5 {
        flex-direction: column;
        gap: 10px; 
        /* display: none; */
    }
    .men3 img {
        width: 300px;
        height: 156px;
    }
    .men4 img {
        height: 145px;
    }
    .men7 {
        width: 43%;
        height: 180px;
    }
    .men6{
        width: 81%;
        height: 180px;
    }
    .men2{
        flex-direction: column;
    }
    .ki5{
        bottom: 25px;
        left: 0px;
    }
    .men {
        height: 1200px;
    }
    .ki6 {
        bottom: 50px;
        left: 3px;
    }
    .ki3{
        width: 300px;
        height: 1100px;
    }
    .ki4{
        width: 300px;
        height: 390px;
        display: none;
    }
    .men1 h2 {
        font-size: 30px;
    }
    .men1 {
        justify-content: center;
    }
    .men8 {
        left: 115px;
        bottom: 945px;
    }
    .men9 {
        left: 1px;
        bottom: 750px;
    }
    .men10 {
        left: -117px;
        bottom: 575px;
    }
    .men11 {
        left: 85px;
        bottom: 440px;
    }
    .men12 {
       display: none;
    }
    .men13 {
        left: -65px;
        bottom: 220px;
    }
}

